name: Build & Deploy
on: 
  pull_request: 
   types: 
     - opened
     - synchronize

jobs:
  build:
   runs-on: ubuntu-latest
   steps:
     - name: Build Phase 1234
       run: echo "Building the Application1234"
